@{
    ViewBag.Title = "Roslyn tools";
}

@section Style
{
    <style>
        html, body, .container {
            height: 100%;
        }

        #cs {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            height: 100%;
            width: 100%;
            border: 1px solid #888;
            -ms-border-radius: 5px;
            border-radius: 5px;
            padding: 5px;
            max-width: none;
            font-family: monospace;
            -moz-resize: vertical;
            -ms-resize: vertical;
            -o-resize: vertical;
            resize: vertical;
        }

        #roslyn {
            height: 100%;
            padding-left: 0;
            list-style-type: none;
            font-family: "Consolas", monospace;
        }

            #roslyn ul {
                padding-left: 10px;
                list-style-type: none;
            }

        #wrapper {
            margin-top: 10px;
            height: 100%;
        }
    </style>
}

<div class="row" id="wrapper">
    <div class="col-md-6">
        <textarea id="cs"></textarea>
    </div>

    <div class="col-md-6">
        <ul id="roslyn"></ul>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/underscore.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.intellisense.js"></script>
<script>
    var $roslyn;

    function autoheight(a) {
        if (!$(a).prop('scrollTop')) {
            do {
                var b = $(a).prop('scrollHeight');
                var h = $(a).height();
                $(a).height(h - 5);
            }
            while (b && (b != $(a).prop('scrollHeight')));
        };
        $(a).height($(a).prop('scrollHeight') + 20);
    }

    function addNode(parent, node) {
        var newNode = $("<li></li>").text(node.name + " (" + node.span.start + ", " + (node.span.start + node.span.length) + ")");
        parent.append(newNode);

        if (node.children == null ||
            node.children.length == 0)
            return;

        var list = $("<ul></ul>");
        newNode.append(list);

        for (var i in node.children)
            addNode(list, node.children[i]);
    }

    function submitCode() {
        var data = $("#cs").val();
        $.post('api/dumptree/', "=" + data, function (d) {
            $roslyn.empty();
            addNode($roslyn, d);
        }).fail(function () { console.log("post failed"); });
    }

    $(function () {
        $roslyn = $("#roslyn");

        autoheight($("#cs"));
        $("#cs").keyup(function (e) {
            autoheight(this);
        });

        var debounced = _.debounce(submitCode, 250);

        $("#cs").keydown(debounced);
        submitCode();
    });
</script>
