@{
    ViewBag.Title = "Roslyn tools";
}

@section Style
{
    <style>
    </style>
}

<br />

<div class="row" id="wrapper">
    <div class="col-md-6">
        @Html.ActionLink("Simple text view", "Index", new
        {
            controller = "DumpText"
        }, new { @class = "btn btn-primary btn-lg" })
        <br />
                @Html.ActionLink("Syntax tree visualizer", "Index", new
        {
            controller = "DumpTree"
        }, new { @class = "btn btn-primary btn-lg" })
                <br />
                @Html.ActionLink("C# to HTML converter", "Index", new
        {
            controller = "ConvertToHtml"
        }, new { @class = "btn btn-primary btn-lg" })
    </div>

    <div class="col-md-6">
    </div>
</div>
