@{
    ViewBag.Title = "Roslyn tools";
}

@section Style
{
    <style>
    </style>
}

<br />

<div class="row" id="wrapper">
    <div class="col-md-6">
        @Html.ActionLink("Dump text", "Index", "DumpText") <br />
        @Html.ActionLink("Dump tree", "Index", "DumpTree") 
    </div>

    <div class="col-md-6">
    </div>
</div>
