@{
    ViewBag.Title = "Roslyn tools";
    ViewBag.SubTitle = " - Syntax tree visualizer";
}

@section Style
{
    <style>
        html, body {
            height: 100%;
        }

        .container {
            height: calc(100% - 20px);
        }

        footer {
            height: 20px;
        }

        #cs {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            width: 100%;
            border: 1px solid #888;
            -ms-border-radius: 5px;
            border-radius: 5px;
            padding: 5px;
            max-width: none;
            font-family: "Consolas", monospace;
            -moz-resize: none;
            -ms-resize: none;
            -o-resize: none;
            resize: none;
        }

        #roslyn {
            padding-left: 0;
            list-style-type: none;
            font-family: "Consolas", monospace;
            overflow-y: auto;
        }

            #roslyn ul {
                padding-left: 10px;
                list-style-type: none;
            }

        #cs {
            height: calc(100% - 20px);
        }

        #roslyn, #properties {
            height: calc(50% - 30px);
        }

        #properties {
            overflow: auto;
        }

        #wrapper {
            margin-top: 10px;
            height: 100%;
        }

        .trivia {
            color: red;
        }

        .node {
            color: blue;
        }

        .token {
            color: green;
        }

        .full-height {
            height: 100%;
        }
    </style>
}

<div class="row" id="wrapper">
    <div class="col-md-6 full-height">
        <label>C# code</label>
        <textarea id="cs" placeholder="write some C# code here"></textarea>
    </div>

    <div class="col-md-6 full-height">
        <label>Roslyn view visualizer</label>
        <ul id="roslyn"></ul>
        <label>Properties</label>
        <div id="properties"></div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/underscore.min.js"></script>
<script>
    var $roslyn, $cs;

    function addNode(parent, node) {
        var newNode = $("<li></li>");
        newNode.append($("<span />")
            .text(node.name)
            .attr("class", node.type));
        newNode.append($("<span/>")
            .text("[" + node.span.start + ", " + (node.span.start + node.span.length) + "]")
        .attr("class", "span"));

        newNode.click(function (event) {
            event.stopPropagation();

            $cs[0].setSelectionRange(node.span.start, node.span.start + node.span.length);
            $cs[0].focus();

            $("#properties").text(node.raw);
        });

        parent.append(newNode);

        if (node.children == null ||
            node.children.length == 0)
            return;

        var list = $("<ul></ul>");
        newNode.append(list);

        for (var i in node.children)
            addNode(list, node.children[i]);
    }

    function submitCode() {
        var data = $("#cs").val();
        $.post('api/syntaxtreevisualizer/', "=" + data, function (d) {
            $roslyn.empty();
            addNode($roslyn, d);
        }).fail(function () { console.log("post failed"); });
    }

    $(function () {
        $roslyn = $("#roslyn");
        $cs = $("#cs");

        var debounced = _.debounce(submitCode, 250);

        $("#cs").keydown(debounced);
        submitCode();
    });
</script>
